<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.example.mapper.InformationMapper">




    <select id="selectBlog" resultType="org.example.pojo.Information">


        select * from information;
    </select>
    <select id="searchAll" resultType="org.example.pojo.Information">

        select * from information;


    </select>
    <select id="searchwithCondition" resultType="org.example.pojo.Information">
        select * from information
        <where>
            or firstName like #{firstName}
            or lastName like #{lastName}
        </where>
    </select>
</mapper>

